// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customqoute {
  border-left: 5px #dddd solid;
  padding-left: 15px;
}

.pm-tag li {
  display: inline-block;
  border: 1px solid green;
  padding: 2px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  i {
    font-size: 12px;
    color: orange;
    margin-left: 5px;
  }
}

.taglist {
   border: 1px solid #ddd;
   border-top: none;
   ul li {
     background-color: #F2EFED;
   }
 }

.step-1, .step-2, .step-3, .step-4 {
  display: none;
}

.active {
  display: block;
}
